@use '../../../App.scss' as *;

.project-list-item-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 15px 0;
   img {
      @include set-size(auto, 100%);
   }
   .project-list-item-description {
      @include flex-center-horiz();
      align-items: space-between;
   }
}
