@use '../App.scss' as *;

#landing-page {
   @include set-size(100vh, 100vw);
   display: block;
}

.landing-page-link {
   position: absolute;
   cursor: pointer;
   width: 100%;
   height: 100%;
   z-index: 100;
   opacity: 0;
   background-color: $primary-color;
}

//todo use sass function

#landing-text-1 {
   animation: type 0.3s ease-in-out forwards;
   opacity: 0;
}
#landing-text-2 {
   animation: type 1s ease-in-out forwards;
   animation-delay: 0.3s;
   opacity: 0;
}
#landing-text-3 {
   animation: type 1s ease-in-out forwards;
   opacity: 0;

   animation-delay: 0.6s;
}
#landing-text-4 {
   animation: type 1s ease-in-out forwards;
   opacity: 0;

   animation-delay: 0.9s;
}
#landing-text-5 {
   animation: type 1s ease-in-out forwards;
   opacity: 0;

   animation-delay: 1.2s;
}
#landing-text-6 {
   animation: type 1s ease-in-out forwards;
   opacity: 0;

   animation-delay: 1.5s;
}
#landing-text-7 {
   animation: type 1s ease-in-out forwards;
   opacity: 0;

   animation-delay: 1.8s;
}
#landing-text-8 {
   animation: type 1s ease-in-out forwards;
   opacity: 0;

   animation-delay: 2.1s;
}
#landing-text-9 {
   animation: type 1s ease-in-out forwards;
   opacity: 0;

   animation-delay: 2.4;
}
#landing-text-10 {
   animation: type 1s ease-in-out forwards;
   opacity: 0;

   animation-delay: 2.7s;
}
#landing-text-11 {
   animation: type 1s ease-in-out forwards;
   opacity: 0;

   animation-delay: 3s;
}
#landing-text-12 {
   animation: type 1s ease-in-out forwards;
   opacity: 0;

   animation-delay: 3.3s;
}
#landing-text-13 {
   animation: type 1s ease-in-out forwards;
   opacity: 0;

   animation-delay: 6s;
}
#landing-text-14 {
   animation: type 1s ease-in-out forwards;
   opacity: 0;

   animation-delay: 3.6s;
}
#landing-text-15 {
   animation: type 1s ease-in-out forwards;
   opacity: 0;

   animation-delay: 3.9s;
}
#landing-text-16 {
   animation: type 1s ease-in-out forwards;
   opacity: 0;

   animation-delay: 4.2s;
}
#landing-text-17 {
   animation: type 1s ease-in-out forwards;
   opacity: 0;

   animation-delay: 4.5s;
}
#landing-text-18 {
   animation: type 1s ease-in-out forwards;
   opacity: 0;

   animation-delay: 4.8s;
}
#landing-text-19 {
   animation: type 1s ease-in-out forwards;
   opacity: 0;

   animation-delay: 5.1s;
}
#landing-text-20 {
   animation: type 1s ease-in-out forwards;
   opacity: 0;

   animation-delay: 5.4s;
}
#landing-text-21 {
   animation: type 1s ease-in-out forwards;
   opacity: 0;

   animation-delay: 5.7s;
}

@keyframes type {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}
