#monitor-text > path {
   //  stroke-width: 0%;
   //  stroke-dashoffset: 100px;
   animation: type 0.2s linear forwards;
   opacity: 0;
   //  animation-fill-mode: forwards;
}

@for $i from 1 to 115 {
   #monitor-text > path {
      &:nth-child(#{$i}) {
         animation-delay: $i * (calc(10s / 115));
      }
   }
}

@keyframes type {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}
