@use '../../App.scss' as *;

img {
   @include set-size(10rem, 10rem);
   cursor: pointer;
}

.sidebar-list {
   @include set-size(100%);
   @include flex-center-vert();
   justify-content: flex-end;
   flex-direction: column;
   .sidebar-list-divider {
      width: 100%;
   }
   .sidebar-list-item {
      @include flex-center;
      box-sizing: border-box;
      padding: 10px 0;
      .sidebar-link {
         color: $text-color;
         cursor: pointer;
      }
      .active {
         color: $high-contrast-color;
      }
   }
}

div.home-btn {
   // padding-left: 15px;
   @include flex-center();
   padding-top: 1rem;
}

.sidebar-icons {
   @include flex-center;
   @include set-size(100%, auto);
}
