@use '../../App.scss' as *;

.main {
   min-height: 100%;
   min-width: 100%;
   @include flex-column();
   background-color: $primary-color;
   // overflow: hidden;
   .main-about {
      @include set-size(100%);
      @include flex-column();

      min-height: 100vh;
      padding-left: 20vw;
      padding-right: 20vw;
   }
   .main-projects {
      @include set-size(100%);
      @include flex-column();
      min-height: 100vh;
      padding-left: 20vw;
      padding-right: 20vw;
   }

   .main-contact {
      @include set-size(100%);
      min-height: 100vh;
   }
}
