@use '../../App.scss' as *;

.main {
   min-height: 100%;
   min-width: 100%;
   @include flex-column();
   background-color: $primary-color;
   // overflow: hidden;
   .main-about {
      @include set-size(100%);
      align-self: center;
      @include flex-column();
      @include devices(tablet) {
         min-height: 100%;
      }
      // @include devices(desktop) {
      justify-content: center;
      align-items: center;
      // }
      min-height: 100vh;
      padding-left: 15vw;
      padding-right: 15vw;
   }
   .main-projects {
      @include set-size(100%);
      @include flex-column();
      min-height: 100vh;
      justify-content: center;
      align-items: center;
      @include devices(mobile) {
         padding-left: 3%;
         padding-right: 3%;
      }
      padding-left: 15vw;
      padding-right: 15vw;
   }
   .main-contact {
      @include set-size(100%);
      min-height: 100vh;
      @include flex-center();

      @include devices(mobile) {
         padding-left: 3%;
         padding-right: 3%;
      }
      padding-left: 15vw;
      padding-right: 15vw;
   }
   #about {
      max-width: 1200px;
      @include flex-column();
      align-items: center;
      justify-content: center;
   }
   #projects {
      max-width: 1200px;
      @include flex-column;
      align-items: center;
      justify-content: center;
   }
   #contact {
      max-width: 1200px;
      @include flex-column();
      align-items: center;
      justify-content: center;
   }
}
