@use '../App.scss' as *;

img {
   @include set-size(10rem, 10rem);
}

.sidebar-list {
   @include set-size(100%);
   // display: flex;
   // flex-direction: column;
   @include flex-center-vert();
   justify-content: flex-end;
   flex-direction: column;
   .sidebar-list-divider {
      width: 100%;
   }
   .sidebar-list-item {
      @include flex-center;
      box-sizing: border-box;
      padding: 10px 0;
      .sidebar-link {
         color: #e8e6e3;
         cursor: pointer;
      }
      .active {
         color: $secondary-color;
      }
   }
}

.sidebar-icons {
   @include flex-center;
   @include set-size(100%, auto);
}
