@use '../App.scss' as *;

.home {
   min-height: 100vh;
   min-width: 100vw;
   background-color: $primary-color;
   overflow: hidden;
}

.home-main-content {
   @include set-size(100%);
   display: flex;
   flex-direction: column;
}

.home-page-content {
   // @include set-size(100%);
   min-height: 100vh;
   padding-left: 160px;
}
