@use '../App.scss' as *;

.home {
   min-height: 100%;
   min-width: 100%;
   background-color: $primary-color;
   overflow: hidden;
   .app-main-content {
      @include set-size(100%);
      padding-left: 160px;
      .app-main-content-page-content {
         min-height: 100vh;
      }
   }
}
