@use '../App.scss' as *;

.main {
   min-height: 100%;
   min-width: 100%;
   @include flex-column();
   background-color: $primary-color;
   .main-section {
      @include set-size(100%);
      align-self: center;
      @include flex-column();
      @include devices(tablet) {
         min-height: 100%;
      }
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      padding-left: 5vw;
      padding-right: 5vw;
      @include devices(mobile) {
         padding-left: 1rem;
         padding-right: 1rem;
      }
      max-width: 1200px;
   }

   #element-section {
      align-self: center;
      padding-top: 3rem;
   }
}
