@use '../../../App.scss' as *;

.about-container {
   @include set-size(100%);
   @include flex-center();
   flex-wrap: wrap;
   gap: 5rem;
   padding-top: 15rem;
   animation: fade-in 1s linear forwards;

   .about-container-text {
      @include set-size(100%, 50%);
      @include flex-column();
      gap: 2rem;
      a {
         align-self: flex-start;
         gap: 0.5rem;
      }
   }
   .about-container-image {
      margin: 0;
      padding: 0;
      img {
         @include set-size(20rem, auto);
         object-fit: cover;
      }
   }
   .about-list {
      font-size: 0.8rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
   }
}

@keyframes fade-in {
   0% {
      opacity: 0;
      transform: scale(0.5);
   }
   100% {
      opacity: 1;
      transform: scale(1);
   }
}
