@use '../../../App.scss' as *;

.about-container {
   @include set-size(100%);
   @include flex-center();
   flex-wrap: no-wrap;
   // gap: 5rem;
   padding-top: 1rem;
   animation: fade-in 1s linear forwards;
   ul {
      list-style: none;
   }
   ul li::before {
      content: '\2022';
      color: $secondary-color;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
      font-weight: bold;
   }
   .about-container-text {
      @include set-size(100%, 100%);
      @include flex-column();
      gap: 2rem;
      a {
         align-self: flex-start;
         gap: 0.5rem;
      }
   }
   .about-container-image {
      margin: 0;
      padding: 0;
      img {
         @include set-size(15rem, auto);
         object-fit: cover;
      }
      @include devices(mobile) {
         display: none;
      }
   }
   .about-list {
      font-size: 0.8rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1.5rem;
      justify-items: stretch;
      padding-left: 0;
   }
}

@keyframes fade-in {
   0% {
      opacity: 0;
      transform: scale(0.5);
   }
   100% {
      opacity: 1;
      transform: scale(1);
   }
}
