@use '../../../App.scss' as *;

.project-list {
   @include flex-column();
   align-items: center;
   justify-content: space-between;
   gap: 2rem;
   .project-list-title {
      align-self: flex-start;
   }
}
