@use '../../App.scss' as *;

.landing {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   overflow: hidden;
   background-color: #0a1929;
   background-size: cover;
   color: white;
   font-weight: 200;
   z-index: 1;
}

.landing * {
   z-index: 2;
}

.landing-text {
   padding-bottom: 1em;
}

h1 {
   font-family: Montserrat, sans-serif;
   color: #d5e0ea;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   width: auto;
   overflow: hidden;
   white-space: nowrap;
   border-right: 0.15em solid #d5e0ea;
   padding-bottom: 1em;
   animation: typing 3.5s steps(40, end), blink 0.75s step-end infinite;
}

.background-shapes {
   position: absolute;
   z-index: 2;
   left: 0;
   top: 0;
   width: 100vw;
   height: 5076px;
   background-size: 100vw;
   animation: 180s infiniteScroll linear infinite;
   background-repeat-x: repeat;
   background-image: url(./custom-bg_1.svg);
}

@keyframes infiniteScroll {
   0% {
      transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
   }

   50% {
      transform: translate3d(0, -846px, 0);
      transform: translate3d(0, -846, 0);
   }
   100% {
      transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
   }
}

@keyframes typing {
   0% {
      width: 0;
   }
   100% {
      width: 100%;
   }
}

@keyframes blink {
   0% {
      border-color: transparent;
   }
   50% {
      border-color: #d5e0ea;
   }
   100% {
      border-color: transparent;
   }
}
