#rocket {
   position: absolute;
   height: 200px;
   width: auto;
   animation: launch 5s ease-out forwards;
}

@keyframes launch {
   0% {
      transform: translateX(-100em);
   }
   100% {
      transform: translateX(110vw);
   }
}
