#Bird {
   animation: fly 6s ease-in-out forwards;
   animation-delay: 8s;
}

#Bird2 {
   animation: fly-up 8s ease-in-out forwards;
   animation-delay: 8s;
}

@keyframes fly {
   0% {
      opacity: 1;
   }
   100% {
      transform: translate(10%, -5%);
   }
}

@keyframes fly-up {
   0% {
      opacity: 1;
   }
   100% {
      transform: translate(10%, -25%);
   }
}
